%ul.list-group
    %li.list-group-item.list-group-item-info
        %strong #{@episode.name}
        -if !Date.parse(@episode.air_date).past?
            %i.warning (airs #{Date.parse(@episode.air_date).strftime("%d-%m-%Y")})
        -else
            %i (aired #{Date.parse(@episode.air_date).strftime("%d-%m-%Y")})
    %li.list-group-item.list-group-item-info #{@episode.overview}
    %li.list-group-item.list-group-item-info
        .row
            - @stills.each_with_index do |still, i|
                .btn
                    - break if i == 3
                    - if !still.file_path.blank?
                        = image_tag @base_url + @still_size + still.file_path, class: "img-fluid center"

%br
%h4{style: "margin-left: -20px;"}
    #{@name} -
    #{"S%02dE%02d" % [@season, @ep]}
    
-if Date.parse(@episode.air_date).past?
    = button_to "Save", '/shows', params: {name: @name, season: @season, episode: @ep, show_id: @id, category: 'Bookmark'}, class: "btn btn-success"
-else
    %i.warning Can't bookmark an unreleased episode
    = button_to "Save", '/shows', params: {name: @name, season: @season, episode: @ep, show_id: @id, category: 'Bookmark'}, class: "btn btn-success disabled"
