%h1 
  SHOWMARK
  %br

.homepage
  .nav.navbar.navbar-inverse
    .container-fluid
      %ul.nav.navbar-nav
        %li= link_to 'NEW SHOW', new_show_path
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to logout_path,:method => :post do
            %span.glyphicon.glyphicon-option-vertical
        // %li= link_to "#{@current_user.name}", root_path
        // %li= link_to 'Log Out', logout_path, :method => :post
  
  .container-fluid.text-center
    .row
      - @shows.each do |show|
        .btn.text-center
          = link_to (image_tag @base_url + @poster_size + show.image, class: "visible-md visible-sm visible-lg", style: "width:100%;"), show, id: "#{show.name} button"
          = link_to (image_tag @base_url + @xs_poster_size + show.image, class: "visible-xs", style: "width:100%;"), show, id: "#{show.name} button -xs"
