%h1 
  SHOWMARK
  %br

= link_to 'Add a Show!', new_show_path, class: "btn btn-info"

.container-fluid
  - config = Tmdb::Configuration.get
  - base_url = config.images.base_url
  - poster_size = config.images.poster_sizes[2]
  - xs_poster_size = config.images.poster_sizes[1]
  .row
    - @shows.each do |show|
      .btn
        = link_to (image_tag base_url + poster_size + show.image, class: "visible-md visible-sm visible-lg"), show, id: "#{show.name} button"
        
        = link_to (image_tag base_url + xs_poster_size + show.image, class: "visible-xs"), show, id: "#{show.name} button -xs"
