%p#notice= notice

%p
  %b Name:
  = @show.name
%p
  %b Season:
  = @show.season
%p
  %b Episode:
  = @show.episode

= link_to 'Edit', edit_show_path(@show)
\|
= link_to 'Destroy', show, :method => :delete, :data => { :confirm => 'Are you sure?' }
\|
= link_to 'Back', shows_path
