%h3 #{@show.name}

%p
  %b Season:
  = @show.season
%p
  %b Episode:
  = @show.episode

%p
  %b Category:
  = @show.category
  
%p
  %b Priority:
  = @show.priority
  
// = link_to 'Edit', edit_show_path(@show)
// \|
= link_to 'Delete', @show, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info"
%br
= link_to 'Back', shows_path, class: "btn btn-info"

%br
%br
%br
%h4.notice ===> MAJOR UPGRADES TO THIS PAGE COMING SOON!
