!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title ShowMark
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #main
      - if flash[:notice]
        .notice.message= flash[:notice]
      - elsif flash[:warning]
        .warning.message= flash[:warning]
      = yield
    
    %footer.footer.nav.navbar-inverse.navbar-fixed-bottom
      .container-fluid
        .text-muted.text-center 
          Pouria Sterling 2017
          \|
          = link_to 'Contact', 'https://www.facebook.com/pouria.zebrahimi'
          \|
          = link_to 'Contribute on GitHub', 'https://github.com/PouriaSterling/ShowMark'