!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title ShowMark
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .wrapper
      - if flash[:notice]
        .notice.message= flash[:notice]
      - elsif flash[:warning]
        .warning.message= flash[:warning]
      // %h1 
      //   SHOWMARK
      //   %br
      
      - if !@current_user.blank?
        .nav.navbar.navbar-inverse
          .container-fluid
            .navbar-header
              = link_to "SHOWMARK", shows_path, class: "navbar-brand"
            %ul.nav.navbar-nav
              %li.active= link_to 'HOME', shows_path
              %li= link_to 'ABOUT', shows_path
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                // = link_to shows_path, class: "dropdown-toggle" do
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} 
                  #{@current_user.name}
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to logout_path, :method => :post do
                      %span.glyphicon.glyphicon-log-out
                      Log Out
      
      = yield
    
    %footer.footer.nav.navbar-inverse
      .container-fluid
        .text-muted.text-center.footer-details
          Pouria Sterling 2017
          \|
          = link_to 'Contact', 'https://www.facebook.com/pouria.zebrahimi'
          \|
          = link_to 'Contribute on GitHub', 'https://github.com/PouriaSterling/ShowMark'
